.container-page-belumbayar {
    width: 100%;
    padding: 2rem;
}
.container-page-belumbayar .btnkembali-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.container-page-belumbayar .btnkembali {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-page-belumbayar .btnkembali img {
    transform: scaleX(-1);
    width: 30px;
    height: 30px;
    object-fit: cover;
    background-color: #4079ed;
    border-radius: 50%;
}
.container-page-belumbayar .btnkembali p {
    font-weight: 500;
    font-size: 14px;
    color: #151d48;
}
.container-page-belumbayar .heading {
    font-size: 18px;
    font-weight: 700;
    color: #151d48;
}